@{
  Layout = "_Layout"; 
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<div class="top">
  <span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
  <span class="links">@Html.ActionLink("Back to list of stylists", "Index")</span>
  <span class="links">@Html.ActionLink("Add client", "Create", "Clients")</span>
  <span class="links">@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</span>
  <span class="links">@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId})</span>
</div>

<h3>Stylist details:</h3>
<hr />
<h4 class="stylist-names">@Html.DisplayFor(model => model.FullName)</h4>

<p>List of clients:</p>
<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No clients found</p>
}

@foreach (Client client in @Model.Clients)
{
  <li class="list-clients">@Html.ActionLink($"{client.FullName}", "Details", "Clients", new { id = client.ClientId })</li>
}
</ul>
