@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Appointment;

<h3>Add new appointment:</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date, new { @type = "date" })
  @Html.LabelFor(model => model.Time)
  @Html.TextBoxFor(model => model.Time, new { @type = "number", min="8", max="12" })
  <input type="submit" value="Add new appointment" />
}

<p>@Html.ActionLink("Back to client", "Details", "Clients")</p>
