@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment;

<h3>Edit this appointment:</h3>
<hr />
<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AppointmentId)
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date, new { @type = "date" })
    @Html.LabelFor(model => model.Time)
    @Html.EditorFor(model => model.Time, new {htmlAttributes = new {min = 8, max = 12}})   
    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to client", "Details", "Clients", new { id = Model.ClientId })</p>