@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Client;

<h3>Client details:</h3>
<hr />
<h4>@Html.DisplayNameFor(model => model.FullName): @Html.DisplayFor(model => model.FullName)<h4>

<h5>Appointments:</h5>
@if (@Model.Appointments.Count == 0)
{
  <p>No appointments have been added yet.</p>
} 

<ul>
@foreach (Appointment appointment in Model.Appointments)
{
  <li>
    <p>@appointment.Name</p>
    <p>@appointment.DateInfo</p>
    <p>@appointment.Time</p>
    <p>@Html.ActionLink("Edit", "Edit", "Appointments", new { id = appointment.AppointmentId })</p>
    <p>@Html.ActionLink("Delete", "Delete", "Appointments", new { id = appointment.AppointmentId })</p>
  </li>
}
</ul>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Back to list of stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Show all clients of stylist", "Index")</p>
<p>@Html.ActionLink("Edit client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Add appointment", "Create", "Appointments", Model)</p>