@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Client;

<div class="top">
  <span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
  <span class="links">@Html.ActionLink("Back to list of stylists", "Index", "Stylists")</span>
  <span class="links">@Html.ActionLink("Show all clients of stylist", "Details", "Stylists", new { id = Model.StylistId })</span>
  <span class="links">@Html.ActionLink("Edit client", "Edit", new { id = Model.ClientId })</span>
  <span class="links">@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientId })</span>
  <span class="links">@Html.ActionLink("Add appointment", "Create", "Appointments", Model)</span>
</div>

<h3>Client info:</h3>
<hr />
<h4 class="names">@Html.DisplayFor(model => model.FullName)<h4>

<h5>Appointments:</h5>
<hr />
@if (@Model.Appointments.Count == 0)
{
  <p>No appointments have been added yet.</p>
} 

@foreach (Appointment appointment in Model.Appointments)
{
  <div class="appointment">
    <p><strong>@appointment.Name</strong></p>
    <p>Date: @appointment.DateInfo</p>
    <p>Time: @appointment.TimeInfo</p>
    <span class="edit-app">@Html.ActionLink("Edit", "Edit", "Appointments", new { id = appointment.AppointmentId })</span>
    <span class="delete-app">@Html.ActionLink("Delete", "Delete", "Appointments", new { id = appointment.AppointmentId })</span>
  </div>
  <hr />
}

